/* 
  Base rules are the defaults. They are almost exclusively single element selectors but it could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever this element is on the page, it should look like THIS.
*/

body {
  width: 100%;
  font-size: 1em;
  line-height: 2em;
  color: black;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.625em;
}

h3 {
  font-size: 1.375em;
}

main {
  margin-top: 5%;
}

@media (min-width: 800px) {
  
}