/* 
  Base rules are the defaults. They are almost exclusively single element selectors but it could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever this element is on the page, it should look like THIS.
*/

@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');
@import url('https://fonts.googleapis.com/css?family=Kameron|Merriweather|Montserrat|Walter+Turncoat');

body {
  width: 100%;
  font-size: 1.15em;
  line-height: 2em;
  color: black;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2em;
  font-family: 'Eagle Lake';
}

h2 {
  font-size: 1.625em;
  font-family: 'Montserrat';
}

h3 {
  font-size: 1.375em;
  font-family: 'Montserrat';
}

main {
  margin-top: 5%;
}

