/*
  Layout rules divide the page into sections. Layouts hold one or more modules together.
*/

/*-----------
Landing Page
-------------*/
#landing-page {
  height: 600px;
}

/*-----------
About
------------*/

#about, #submit {
  margin: 15%; }

#about h2, #submit h2 {
  font-size: 40px;
  margin: 6% 10%;
  text-align: center; }

#submit h3 {
  font-size: 20px;
  margin-top: 5%;
  text-align: center; }

#places h3 {
  font-size: 20px;
  margin-top: 5%;
  font-style: bold; }

#places a {
  text-decoration: none; }

.shopheader {
  margin: 10px 0%;
  font-family: 'Eagle Lake', sans-serif; }

.shopsection {
  line-height: 140%;
  margin: 5% 0%;
  font-size: 15px; }

.spacer {
  text-align: center; }

footer {
  padding: 5% 10%;
  text-align: center;
  background-color: lightgray; }

/*-----------
Sidebar & Map
------------*/
#map-parent {
  width: 100%;
  margin: 0 0%; }

#map {
    height: 400px;
    box-shadow: 0 3px 14px rgba(0,0,0, 0.3);
    width: 100%; }

@media (min-width: 750px) {  
  #map {
    height: 600px;
    width: 40%;
    display: inline-block;
  }
  #tea-sidebar {
    width: 53%;
    height: 600px;
    margin: 0% 3%;
    display: inline-block;
    overflow: scroll;
  }


/*other settings for mobile tabs*/

.lil_burg{
  position: relative;
  bottom: 3px;
}
.cog {
  position: relative;
  top: 7px;
}
