/*
  Layout rules divide the page into sections. Layouts hold one or more modules together.
*/

/*-----------
Landing Page
-------------*/
#landing-page {
  height: 600px; }

/*-----------
Places & Search
------------*/
#places {
  margin-bottom: 5%; }
  
#places h3 {
  font-size: 20px;
  margin-top: 5%;
  font-style: bold; }

#places a {
  text-decoration: none; }

.search-bar {
  text-align: center;
  margin-bottom: 2% }

#search-settings-nav {
  width: 100%;
  background-color: darkgray;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 2%; }

#search-settings {
  display: none;
  background-color: lightgray;
  width: 100%; }

.search-column {
  width: 45%;
  display: inline-block; }

.select-box {
  font-size: 15px;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: 1px solid darkgray;
  background-color: white;
}

.tagged {
  background-color: green;
  color: white; }

.shopheader {
  margin: 10px 0%;
  font-family: 'Eagle Lake', sans-serif; }

.shopsection {
  line-height: 140%;
  margin: 5% 0%;
  font-size: 15px; }

.spacer {
  text-align: center; }

/*-----------
About & Submit
------------*/
#about p {
  margin-bottom: 20px; }

aside {
  text-align: center;
  font-style: italic; }

#about, #submit {
  padding: 5% 15%; }

#about {
  color: white;
  background-image: url('/assets/img/puer-tea-table.png');
  background-size: 100%;  }

#about a,
#about a:visited {
  color: white;
  text-decoration: none;
}

#about h2, #submit h2 {
  font-size: 40px;
  margin: 6% 10%;
  text-align: center; }

#submit h3 {
  font-size: 20px;
  margin-top: 5%;
  text-align: center; }

footer {
  padding: 5% 10%;
  text-align: center;
  background-color: lightgray; }

/*-----------
Sidebar & Map
------------*/
#map-parent {
  width: 100%;
  margin: 0 0%; }

#map {
    height: 400px;
    box-shadow: 0 3px 14px rgba(0,0,0, 0.3);
    width: 100%; }

@media (min-width: 750px) {  
  #map {
    height: 600px;
    width: 40%;
    display: inline-block;
  }
  #tea-sidebar {
    width: 53%;
    height: 600px;
    margin: 0% 3%;
    display: inline-block;
    overflow: scroll;
  }

