/*
  Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on.
*/

/*Nav*/

header {
  overflow: hidden;
  height: 40%;
  width: 100%;
  line-height: 2.5em;
}

/*hamburger menu*/
#teapot-logo-div {
  border: 1px solid white;
  border-radius: 50%;
  margin: 10px;
  width: 60px;
  height: 60px;
  background-color: rgba(207, 128, 0, .5);
  float: right;
}

#teapot-logo-div:hover {
  box-shadow: 0px 0px 10px 3px cyan;
}

#teapot-logo {
  width: 100%;
  height: 100%;
}

.rotate {
  transition-duration: 1s;
  transform: rotate(-90deg);
}

nav {
  margin-top: 5%;
  display: none;
  position: relative;
  /*z-index: -2;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
}

nav ul {
  text-align: center;
}

nav ul li {
  width: 100%;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid white;
  padding: 30px 0px;
}

nav ul li:hover {
  background-color: rgba(52, 135, 184, .7);
}

#first-tab {
  border-top: 1px solid white;
}

nav ul li a{
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-shadow: 1px 1px 1px cyan;
}

/*-----------
Landing Page
------------*/

#landing-page {
  color: ghostwhite;
}

video { 
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
  }

#welcome-text {
  width: 70%;
  border-radius: 30px;
  background-color: rgba(136, 132, 140, .5);
  text-align: center;
  margin: 12% auto 17% auto; 
  text-shadow: .2px .2px 4px black;
}

#welcome-text h1 {
  font-size: 1.4em;
  margin: 10%;
}

#welcome-text h3 {
  font-size: 1em;
}

#arrow {
  text-align: center;
  font-size: 50px;
  display: block;
  width: 70px;
  height: 70px;
  margin: 0px auto;
  animation: bounce 2s infinite ease-in-out
  }

@keyframes bounce {
  0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
  40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}


/*-----------
Map Styles
------------*/
#places h2 {
  text-align: center;
  margin: 3%;
}

/*-----------
Media Queries
------------*/

@media (min-width: 800px) {  
  header {
    line-height: 1em;
    font-size: .75em;
  }

  nav {
    position: absolute;
    width: 90%;
    height: 50px;
    top: 0;
    margin: 0px auto;
    display: inline-block;
    border-radius: 5px;
    text-shadow: .5px .5px 2px grey;
  }

  nav ul {
    width: 80%;
    margin: 0 auto;
  }

  nav ul li {
    border: none;
    display: inline-block;
    margin: 15px auto;
    padding: 30px 30px;
    width: 12%;
    border-radius: 30px;
  }

  #teapot-logo-div {
    margin: 17px;
    width: 70px;
    height: 70px;
    z-index: 2;
  }

  .tab:hover {
    text-shadow: 1px 1px 1px 5px darkturquoise;
  }

  #first-tab {
  border-left: none;
  border-top: none; 
  }

  #welcome-text {
    margin: 12% auto 18% auto; 
    text-align: center; 
    padding: 1%;
    box-shadow: 0 3px 30px rgba(0,0,0, 0.3); }

  #welcome-text h1 {
    font-size: 2.5em;
    margin: 1.75%; 
  }

  #welcome-text h3 {
    font-size: 1.25em;
    margin: 1.75%; 
  }

@media (min-width: 1200px) {
  #welcome-text {
    margin: 7% auto 13% auto; 
}

/*-----------
Submit & Forms
------------*/
form {
  margin: 5% 0% 5% 0%; }

.two-field-form { 
  display: inline-block;
  width: 45%;
  margin: 5px 5px 5px 0px; }

.three-field-form { 
  display: inline-block;
  width: 30%;
  margin: 5px 5px 5px 0px; }

.full-width {
  width: 100%;
  box-sizing: border-box; }

input,
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

.button:hover,
.button:focus, {
  color: #333;
  background-color:#33C3F0;
  border-color: #888;
  outline: 0; }